{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-7 mr-auto">
        <h3 class="text-center">List of Recipes with {{ title }}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Ingredients</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}

                <tr>
                    <th class="w-25" scope="row">
                        <a href="{% url 'recipe_detail' recipe.slug %}">
                            <img src="{{ recipe.image.url}}" class="img-fluid img-thumbnail" height=150 width=150>
                        </a>
                    </th>
                    <td><a href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.name }}</a></td>
                    <td>{{ recipe.owner }}</td>
                    <td>
                        <ul>
                            {% for ingredient in recipe.ingredients.all %}
                            <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}



            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="row">
            {% include "base/components/search_bar.html" %}
        </div>
        <div class="row mt-2">
            {% include "base/components/top_used_ingredients.html" %}
        </div>
    </div>
</div>


{% endblock content %}